<div class="d-flex flex-column">
  <div class="content-featured">
    <div class="d-flex flex-column">
      <div class="article-feature-title">
        {{contentItems.featured.title}}
      </div>
      <img class="img-article-featured" src="{{contentItems.featured.image_path}}" />
      <div class="article-featured">
        {{contentItems.featured.description}}
      </div>
    </div>
  </div>
  <div class="content-list">
    <ng-container *ngFor="let article of contentItems.list;">
      <div class="d-flex flex-row">
        <img class="img-article-list" src="{{article.image_path}}" />
        <div class="article-list">
          <strong>{{article.title}}</strong><br>
          {{article.description}}
        </div>
      </div>
    </ng-container>
  </div>
</div>
