.article-feature-title {
  font-size: 36px;
  font-weight: bold;
}

.img-article-featured {
  max-width: 300px;
  max-height: 150px;
  object-fit: scale-down;
}

.article-list {
  font-size: 13px;
}
.img-article-list {
  max-width: 75px;
  max-height: 75px;
  object-fit: scale-down;
}
