
  <main role="main">
    <app-carousel [carouselItems]=this.triviaBrands></app-carousel>
    <br>
    <div class="container d-flex flex-row justify-content-between">
      <app-content-list [contentItems]=this.articles></app-content-list>
      <app-content-list [contentItems]=this.articles></app-content-list>
    </div>
  </main>

