<div class="d-flex h-100 text-center">
  <div id="register-container" class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="panel panel-login">
          <div class="panel-heading">
            <div id="panel-header" class="row d-flex">
              <div class="col-sm-6 register-menu">
                <a href="#" class="active" id="login-form-link">Login</a>
              </div>
              <div class="col-sm-6 register-menu">
                <a href="#" id="register-form-link">Register</a>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12">
                <form id="login-form" [formGroup]="loginForm" (ngSubmit)="loginEmailPassword()">
                  <div class="form-group">
                    <input type="text" placeholder="Email" formControlName="loginEmail" class="form-control"
                           [(ngModel)]="login.email" [ngClass]="{ 'is-invalid': loginSubmitted && l.loginEmail.errors }" #loginEmail />
                    <div *ngIf="loginSubmitted && l.loginEmail.errors" class="invalid-feedback">
                      <div *ngIf="l.loginEmail.errors.required">Email is required</div>
                      <div *ngIf="l.loginEmail.errors.email">Email must be a valid email address</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="password" placeholder="Password" formControlName="loginPassword" class="form-control"
                           [(ngModel)]="login.password" [ngClass]="{ 'is-invalid': loginSubmitted && l.loginPassword.errors }" #loginPassword />
                    <div *ngIf="loginSubmitted && l.loginPassword.errors" class="invalid-feedback">
                      <div *ngIf="l.loginPassword.errors.required">Password is required</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">Login</button>
                    <div *ngIf="isLoading" class="loader"><img src="../../../assets/images/loader.gif" /></div>
                  </div>
                </form>
                <form id="register-form" [formGroup]="registerForm" (ngSubmit)="registerUser()" style="display: none;">
                  <div class="form-group">
                    <input type="text" placeholder="Username" formControlName="registerUsername" class="form-control" #registerUsername
                           [(ngModel)]="register.username" [ngClass]="{ 'is-invalid': registerSubmitted && r.registerUsername.errors }" />
                    <div *ngIf="registerSubmitted && r.registerUsername.errors" class="invalid-feedback">
                      <div *ngIf="r.registerUsername && r.registerUsername.errors && r.registerUsername.errors.required">Username is required</div>
                    </div>
                    <div class="registration-error" *ngIf="registrationUserDuplicate">Username is already taken</div>
                  </div>
                  <div class="form-group">
                    <input type="text" placeholder="Email" formControlName="registerEmail" class="form-control" #registerEmail
                           [(ngModel)]="register.email" [ngClass]="{ 'is-invalid': registerSubmitted && r.registerEmail.errors }" />
                    <div *ngIf="registerSubmitted && r.registerEmail.errors" class="invalid-feedback">
                      <div *ngIf="r.registerEmail.errors.required">Email is required</div>
                      <div *ngIf="r.registerEmail.errors.email">Email must be a valid email address</div>
                    </div>
                    <div class="registration-error" *ngIf="registrationEmailDuplicate">Email is already in use</div>
                  </div>

                  <div class="form-group">
                    <input class="form-control" type="password" name="password" formControlName="password" placeholder="Password" #registerPassword
                           [(ngModel)]="register.password" [ngClass]="{ 'is-invalid': ((registerSubmitted && r.password.errors && (r.password.errors.required || r.password.errors.minlength)) || registrationInvalidPassword) }">
                    <div *ngIf="(registerSubmitted && (r.password.errors && (r.password.errors.required || r.password.errors.minlength))) || registrationInvalidPassword" class="invalid-feedback">
                      <div *ngIf="!registrationInvalidPassword && r.password.errors.required">Password is required</div>
                      <div *ngIf="registrationInvalidPassword || r.password.errors.minlength">Password must be at least 8 characters</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <input class="form-control" type="password" name="repeatPassword" formControlName="repeatPassword" #registerConfirm placeholder="Confirm Password" [(ngModel)]="register.confirm"
                           [ngClass]="{ 'is-invalid': registerSubmitted && ((r.repeatPassword.errors && r.repeatPassword.errors.required) || (registerForm.errors && registerForm.errors.doesMatchPassword)) }">
                    <div *ngIf="registerSubmitted && ((r.repeatPassword.errors && r.repeatPassword.errors.required) || (registerForm.errors && registerForm.errors.doesMatchPassword))" class="invalid-feedback">
                      <div *ngIf="((r.repeatPassword.errors && r.repeatPassword.errors.required) || (registerForm.errors && registerForm.errors.doesMatchPassword))">Passwords do not match</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">Register</button>
                    <div *ngIf="isLoading" class="loader"><img src="../../../assets/images/loader.gif" /></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
