<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <span *ngFor="let item of carouselItems; let i = index;">
      <li data-target="#myCarousel" [attr.data-slide-to]="i" class="active"></li>
    </span>
  </ol>
  <div class="carousel-inner">
    <ng-container *ngFor="let item of carouselItems; let i = index;">
      <div class="carousel-item" [class.active]="(i === 0)">
        <img class="first-slide" src="{{item.image}}" alt="First slide">
        <div class="container">
          <div class="carousel-caption text-left">
            <div class="carousel-title">{{item.title}}</div>
            <div class="carousel-description">{{item.description}}</div>
            <p><a class="btn btn-lg btn-primary" href="{{item.link}}" role="button">Go To Quiz</a></p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
