.carousel-item {
  width: 100%;
  height: 45vh;
  max-height: 45vh;
  overflow: hidden;
}
.carousel-item > img {
  width: 100%;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}
.carousel-title {
  font-weight: bold;
  font-size: 60px;
}
.carousel-description {
  font-size: 36px;
}
