@import "assets/css/bootstrap.min.css";

body {
  margin: 0;
  background-color: #dcdcdc;
}

.comic-font {
  font-family: Comic, serif;
}

.comic-font-bold {
  font-family: Comic, serif;
  font-weight: bold;
}

@font-face {
  font-family: "Comic";
  src: url("assets/fonts/coah.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Comic";
  src: url("assets/fonts/coahb.ttf");
  font-weight: bold;
}
